# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\intelliJ\lab_sec\deltarider2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
